/* App.css */
html, body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;

    background-image: url("../public/bg.jpg");
    background-size: cover;
  }
  
  #root {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  header, footer {
    padding: 1rem;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section {
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
  }